* {
	padding: 0;
	margin: 0;
	border: 0;
}

p {
	color: #eac494 !important;
}
*,
*:before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

footer {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

input,
button {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h2,
h3,
h4 {
	font-size: inherit;
	font-weight: 400;
}

a {
	color: inherit;
}

.fixed-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/bg.jpeg') no-repeat center center;
	background-size: cover;
	z-index: -1;
}
html,
body {
	font-family: 'IBM Plex Sans', sans-serif;
	height: 100%;
	font-size: 26px;
	line-height: 100%;
	font-weight: 400;
	color: #ffffff;
}

.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.container {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 20px;
}

/* header */

.header {
	/* background: url('../img/header-bg.png') no-repeat; */
	background-size: cover;
	background-position: center;
	padding: 28px 0px 0px 0px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__info {
	flex: 1 1 50%;
}

.header__img {
	flex: 1 1 50%;
	position: relative;
}

.header__img img {
	display: block;
	width: 100%;
	max-width: 300px;
}

.header__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 100%;
	text-transform: uppercase;
	background-color: #fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	margin-bottom: 60px;
}

.header__text {
	font-size: 23px;
	line-height: 100%;
	color: #ffffff;
	margin-bottom: 60px;
}

.header__link {
	padding: 18px 25px;
	display: block;
	width: 100%;
	text-align: center;
	max-width: 201px;
}

.white {
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	text-transform: uppercase;
	color: #3d3e49;
	background: #ffffff;
	border-radius: 53px;
}

/* video */

.video {
	padding: 50px 0px;
}

.video__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 25px;
}

.video__video {
	display: block;
	flex: 1 1 60%;
	width: 100%;
	max-width: 745px;
}

.video__info {
	flex: 1 1 80%;
}

.video__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 100%;
	text-transform: uppercase;
	color: #eac494;
	margin-bottom: 50px;
}

.video__inner .header__link.white {
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	text-transform: uppercase;
	color: #ffffff;
	background: #3d3e49;
	border-radius: 53px;
}

.header__link.white.mob {
	display: none;
}

/* main-form */

.main-form {
	padding: 60px 0px 80px;
	background-size: cover;
	background-position: center;
}

.main-form__inner {
	display: flex;
	gap: 40px;
	align-items: flex-end;
	justify-content: space-between;
}

.main-form__info {
	flex: 1 1 60%;
}

.main-form__form {
	flex: 1 1 40%;
}

.main-form__text {
	font-size: 24px;
	line-height: 100%;
	color: #ffffff;
}

.main-form__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 100%;
	text-transform: uppercase;
	background: #fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	margin-bottom: 60px;
}

/* slider */

.slider {
	padding: 100px 0px 54px 0px;
	position: relative;
	margin-bottom: -10px;
}

/* background-image: url('../images/four.png'); */
.slider__box:first-child::before {
	background-image: url('../images/four.png');
}
.slider__box:nth-child(2)::before {
	background-image: url('../images/three.png');
}
.slider__box:last-child::before {
	background-image: url('../images/two.png');
}
.slider__box:first-child::before,
.slider__box:nth-child(2)::before,
.slider__box:last-child::before {
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	left: -20px;
	top: -40px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.slider__box:nth-child(2) {
	margin-top: -100px;
}

.slider__inner {
	margin-top: 100px;
	display: flex;
	position: relative;
	z-index: 10;
	align-items: flex-end;
	justify-content: center;
	gap: 24px;
}
.slider__box-img {
	margin-top: 20px;
	width: 100%;
}

.slider__box {
	max-width: 416px;
	position: relative;
}

.slider__box-title {
	padding: 20px 0px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	line-height: 100%;
	text-transform: uppercase;
	color: #ffffff;
	background: #3d3e49;
	border-radius: 15px 15px 0px 0px;
}

.slider__box-text {
	padding: 20px;
	font-size: 26px;
	line-height: 100%;
	color: #fff !important;
	background: rgba(234, 195, 148, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 15px 15px;
}

/* start */

.start {
	padding: 75px 0px 65px;
	background-size: cover;
	background-position: left;
	background-position-x: -200px;
}
.start__img {
	display: flex;
	margin-top: 50px;
	height: 200px;
	gap: 20px;
	justify-content: center;
	position: relative;
}
.start__img img:first-child {
	position: absolute;
	max-width: 250px;
	top: -50px;
	left: -50px;
}
.start__img img:last-child {
	position: absolute;
	max-width: 250px;
}

.start__img img {
	display: block;
	width: 100%;
	margin-top: -30px;
}

.start__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 44px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 7px;
}

.start__info {
	max-width: 490px;
	flex: 1 1 30%;
}

.start__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.start__list {
	max-width: 800px;
	flex: 1 1 70%;
}

.start__list li {
	position: relative;
}

.start__item {
	font-weight: 400;
	font-size: 30px;
	line-height: 100%;
	color: #eac494;
	margin-bottom: 30px;
}

/* main-link */

.main-link {
	padding: 35px 0px;
	position: relative;
}

/* footer */

.footer {
	padding: 43px 0px 75px;
	background-image: url(../images/bg-footer.jpeg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	-webkit-mask-composite: destination-in;
	mask-image: linear-gradient(
			to right,
			transparent,
			black 60%,
			black 10%,
			transparent
		),
		linear-gradient(to bottom, transparent, black 10%, black 80%, transparent);
	mask-composite: intersect;
}

.footer__text {
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	color: #ffffff;
}

.footer__text {
	margin-bottom: 20px;
}

/* owl */

/* media */
.slider__box span img {
	transform: translateY(-20px);
}
@media (max-width: 1200px) {
	.header .container {
		gap: 20px;
	}
}

@media (max-width: 1050px) {
	.start__info {
		width: 300px;
	}

	.slider__box-img {
		display: none;
	}
	.slider__inner {
		gap: 30px;
	}
	.start {
		position: relative;
		z-index: 200;
	}
	.slider__inner {
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: center;
	}
	.slider__box:nth-child(2) {
		margin-top: 0px;
	}
	.slider__box {
		max-width: 350px;
	}

	.header .container {
		flex-direction: column-reverse;
	}
	.header {
		padding: 52px 0px 0px 0px;
		background-position: center;
		background-size: cover;
	}
	.video__inner {
		flex-direction: column;
		gap: 0px;
	}
	.video__inner .header__link.white {
		display: none;
	}
	.header__link.white.mob {
		display: block;
	}
	.header__info {
		max-width: 700px;
	}
	.video__info {
		max-width: 700px;
	}
	.video__video {
		margin-bottom: 50px;
	}
	.start__inner {
		flex-direction: column;
	}
	.start {
		background-position: top center;
		background-size: cover;
	}
}
.main-form-images .main-img {
	width: 400px;
	position: relative;
	display: block;
	transform: translateY(-70px);
}

@media (max-width: 850px) {
	.start {
		padding: 21px 0px 25px 0px;
	}
	.start__title {
		font-size: 24px;
		margin-bottom: 1px;
	}
	.start__img img {
		margin-top: 0px;
	}
	.start__item {
		margin-bottom: 20px;
		font-size: 24px;
	}
	.main-form__inner {
		flex-direction: column;
		gap: 50px;
	}
	.main-form__form {
		width: 100%;
	}
	.main-form__info {
		max-width: 700px;
	}
}

@media (max-width: 520px) {
	.header__img img {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.slider__box {
		margin: 0 auto;
		max-width: 450px;
	}
	.main-form__info {
		width: 100%;
	}
	.slider {
		padding: 73px 0px 11px 0px;
	}
	.footer__text {
		font-size: 20px;
	}
	.footer {
		padding: 24px 0px 55px;
	}
	.main-link {
		padding: 25px 0px;
	}
	.main-form__text {
		font-size: 18px;
	}
	.main-form__title {
		max-width: 100%;
		font-size: 46px;
		margin-bottom: 25px;
	}
	.main-form {
		padding: 20px 0px 40px;
	}
	.video__video {
		margin-bottom: 25px;
	}
	.video {
		padding: 25px 0px;
	}
	.video__title {
		margin-bottom: 25px;
		font-size: 36px;
	}
	.header__title {
		font-size: 26px;
		margin-bottom: 25px;
	}
	.header__text {
		font-size: 18px;
		margin-bottom: 50px;
	}
	.header__link {
		max-width: 100%;
	}
	.start__img img {
		width: 120px;
	}
	.main-form-images .main-img {
		max-width: 300px;
		transform: translateY(-20px);
	}
	.header .container .header__info {
		order: 1;
	}
	.header {
		padding-bottom: 50px;
	}
}

@media (max-width: 450px) {
	.start__title {
		line-height: 36px;
	}
	.start__img img:first-child {
		left: -20px;
	}
	.video__images img {
		max-width: 120px;
	}
}
.video__info p {
	font-size: 20px;
}
.main-link img {
	max-width: 300px;
	position: absolute;
	top: 20%;
	right: 10%;
}
.main-link img:first-child {
	top: 20%;
	left: 10%;
}
.header,
section {
	border-bottom: 1px solid #eac494;
}

.video__images {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	z-index: 10;
}

.image-circle {
	border-radius: 50%;
	overflow: hidden;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	position: absolute;
}

.image-circle img {
	max-height: 100%;
	width: 220px;
	object-fit: cover;
}

/* Position each circle individually */
.image-circle:nth-child(1) {
	top: 35%;
	right: 5%;
}

.image-circle:nth-child(2) {
	top: 0;
	right: calc(5% + 100px);
}
.image-circle:nth-child(2) img {
	width: 300px;
}

.image-circle:nth-child(3) img {
	width: 350px;
}
.image-circle:nth-child(3) {
	top: calc(5% + 230px);
	left: 5%;
}

.image-circle:nth-child(4) {
	top: calc(10% + 330px);
	right: calc(5% + 130px);
}

/* Adjust the video__inner to make room for the circles */
.video__inner {
	position: relative;
}

.video__info {
	max-width: 50%;
	padding-right: 20px;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
	.image-circle:nth-child(2) {
		right: calc(5% + 100px);
	}

	.image-circle:nth-child(3) {
		top: calc(10% + 200px);
	}

	.image-circle:nth-child(2) img {
		width: 250px;
	}

	.image-circle:nth-child(3) img {
		width: 250px;
	}
	.image-circle {
		position: static;
		width: max-content;
		height: max-content;
	}
	.image-circle img {
		width: 180px;
	}
	.video__images {
		display: flex;
		margin-top: 50px;
		align-items: center;
		justify-content: center;
		gap: 30px;
		height: auto;
		flex-wrap: wrap;
	}
}

@media (max-width: 1050px) {
	.video__info {
		max-width: 100%;
	}
	.video__images {
		position: relative;
		width: 100%;
		margin-bottom: 50px;
	}
	.image-circle:nth-child(2) img {
		width: 200px;
	}

	.image-circle:nth-child(3) img {
		width: 200px;
	}
}

@media (max-width: 768px) {
	.image-circle:nth-child(2) {
		right: calc(5% + 170px);
	}

	.image-circle:nth-child(3) {
		top: calc(10% + 170px);
	}

	.image-circle:nth-child(4) {
		top: calc(10% + 170px);
		right: calc(5% + 170px);
	}
}

.main-form-images {
	display: flex;
	position: relative;
}
.main-form-images::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 250px;
	background-position: center;
	background-image: url(../images/gold-down.png);
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateY(50px);
}
.main-form-images::after {
	content: '';
	position: absolute;
	top: 0;
	right: -130px;
	z-index: -1;
	width: 100%;
	height: 250px;
	background-position: center;
	background-image: url(../images/new-gold.png);
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateY(50px);
}
